<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyShoppingController as list1'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in list1">Buy {{ item.quantity }} {{ item.name }}
         <button class="btn btn-default" ng-click="list1.moveItem($index);">
           <span class="glyphicon glyphicon-ok"></span> Bought</button>
       </li>
       <!--<li>Buy 10 cookies <button class="btn btn-default" ng-click="list1.moveItem()"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>-->
     </ul>
     <div class="emptyMessage" ng-if="empty(list1)">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as list2">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in list2">Bought {{ item.quantity }} {{ item.name }}</li>
     </ul>
     <div class="emptyMessage" ng-if="empty(list2)">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
